:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* line-height: 1.5; */
  font-weight: 400;

  font-family: 'Hex Girlfriend'; 
  src: url('./fonts/Hex Girlfriend.ttf');

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.button {
  /* font-family: 'Hex Girlfriend'; */
  background-color: #04AA6D;
  /* border: none; */
  /* color: white; */
  width: 90px;
  height: 40px;

  /* font-size: 100%; */
}

body { 
  margin: 0;
}

#c {
  position: absolute;
}